[project]
	state = active
[access "refs/heads/*"]
	push = group Samsung Omap Maintainers
	abandon = group Samsung Omap Maintainers
	label-Code-Review = -2..+2 group Samsung Omap Maintainers
	label-Verified = -1..+1 group Samsung Omap Maintainers
	rebase = group Samsung Omap Maintainers
	submit = group Samsung Omap Maintainers
